<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar" style="margin-bottom: 30px" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom box-shadow">
    <img class="my-0 mr-md-auto" th:src="@{/img/logo_small.png}" style="height: 40px"/>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-light" href="/">Homepage</a>
        <a class="p-2 text-light" href="/agenda">Agenda</a>
        <a class="p-2 text-light" href="/lista-pazienti">Lista pazienti</a>
    </nav>
</div>
</body>
</html>