<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Lista pazienti</title>
</head>
<body>

<div th:insert="/fragments/navbar :: navbar"/>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Dati paziente</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"  th:text="'Cognome: ' + ${paziente.cognome}"/>
                        <li class="list-group-item" th:text="'Nome: ' + ${paziente.nome}"/>
                        <li class="list-group-item" th:text="'Nato il: ' + ${#dates.format(paziente.dataDiNascita, 'dd/MM/yyyy')} + ' a ' + ${paziente.comuneNascita} + ', '
                    + ${paziente.provinciaNascita} + ', ' + ${paziente.nazionalita}"/>
                        <li class="list-group-item" th:text="'Numero telefono: ' + ${paziente.nTelefono}"/>
                        <li class="list-group-item" th:text="'Il paziente ' + (${paziente.pericoloso} ? 'è pericoloso' : 'non è pericoloso')"/>
                        <li class="list-group-item" th:text="'Il paziente ' + (${paziente.autosufficiente} ? 'è autosufficiente' : 'non è autosufficiente')"/>
                    </ul>
                    <a class="btn btn-danger float-right" th:href="'/modifica-cartella/' + ${paziente.id}" style="margin-top: 20px">Modifica cartella</a>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Visite del paziente</h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered text-center">
                        <tr>
                            <th scope="col">Data e ora visita</th>
                            <th scope="col">Vedi visita</th>
                        </tr>
                        <tr th:each="visita: ${visite}">
                            <td scope="row" class="align-middle" th:text="${#dates.format(visita.dataVisita, 'dd/MM/yyyy HH:mm')}"></td>
                            <td scope="row" class="align-middle"><a class="btn btn-info" th:href="'/visita/' + ${visita.idVisita}">Vai</a></td>
                        </tr>
                        <tr>
                            <th scope="col">Data e ora visita</th>
                            <th scope="col">Vedi visita</th>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Diagnosi del paziente</h4>
                </div>
                <div class="card-body">
                    <div th:if="${paziente.diagnosi} != null">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:text="'Diagnosi effettuata il: ' + ${#dates.format(paziente.dataDiagnosi, 'dd/MM/yyyy')}"/>
                            <li class="list-group-item" th:text="'Diagnosi: ' + ${paziente.diagnosi}"/>
                        </ul>
                    </div>
                    <div th:if="${paziente.diagnosi} == null">
                        <p>Non è neancora presenta una diagnosi, modifica la cartella del paziente per aggiungerla</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>