<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title th:text="'Modifica cartella ' + ${paziente.cognome} + ' ' + ${paziente.nome}"></title>

    <style>
        .form-row{
            margin-bottom: 10px;
        }
    </style>

</head>
<body>

<div th:insert="/fragments/navbar :: navbar"/>


<div class="container-fluid" style="margin-bottom: 30px">
    <div class="col">
        <div class="row text-center">
            <h4 th:text="'Stai modificando la cartella di ' + ${paziente.cognome} + ' ' + ${paziente.nome}"/>
        </div>
        <form th:action="'/salva-cartella/' + ${paziente.id}" method="POST" >
            <div class="card mb-4 box-shadow"  style="margin-top: 30px">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Dati anagrafici</h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col">
                            <label for="cognome">Cognome</label>
                            <input type="text" required class="form-control" id="cognome" name="cognome" th:value="${paziente.cognome}" placeholder="es: Rossi">
                        </div>
                        <div class="col">
                            <label for="nome">Nome</label>
                            <input type="text" required class="form-control" id="nome" name="nome" th:value="${paziente.nome}" placeholder="es: Mario">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="dataNascita">Data di nascita (in formato gg/mm/aaaa)</label>
                            <input type="text" required class="form-control" th:value="${#dates.format(paziente.dataDiNascita, 'dd/MM/yyyy')}" id="dataNascita" name="dataNascita" placeholder="gg/mm/aaaa" pattern="\d{2}/\d{2}/\d{4}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="comuneNascita">Comune di nascita</label>
                            <input type="text" required class="form-control" id="comuneNascita" name="comuneNascita" th:value="${paziente.comuneNascita}" placeholder="es: Roma">
                        </div>
                        <div class="col">
                            <label for="provinciaNascita">Provincia di nascita</label>
                            <input type="text" required class="form-control" id="provinciaNascita" name="provinciaNascita" th:value="${paziente.provinciaNascita}" placeholder="es: RM">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="nazionalita">Nazionalità</label>
                            <input type="text" required class="form-control" id="nazionalita" name="nazionalita" th:value="${paziente.nazionalita}" placeholder="es: Italia">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4 box-shadow"  style="margin-top: 30px">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Diagnosi</h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col">
                            <label for="diagnosi">Diagnosi</label>
                            <textarea class="form-control" id="diagnosi" name="diagnosi" th:text="${paziente.diagnosi}" placeholder="inserisci la diagnosi del paziente"></textarea>
                        </div>
                    </div>
                    <div th:if="${paziente.dataDiagnosi} != null">
                        <p th:text="'Diagnosi effettuata il: ' + ${#dates.format(paziente.dataDiagnosi, 'dd/MM/yyyy')}"/>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="pericolosita" name="pericolosita" th:checked="${paziente.pericoloso}">
                        <label class="form-check-label" for="pericolosita">Il paziente è pericoloso</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="autosufficiente" name="autosufficiente" th:checked="${paziente.autosufficiente}">
                        <label class="form-check-label" for="autosufficiente">Il paziente è autosufficiente</label>
                    </div>
                </div>
            </div>
            <div class="card mb-4 box-shadow"  style="margin-top: 30px">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Contatti</h4>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col">
                            <label for="nTelefono">Telefono</label>
                            <input type="tel" required class="form-control" id="nTelefono" name="nTelefono" th:value="${paziente.nTelefono}" placeholder="es: 01234567890"/>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn-danger btn" th:href="'/cartella-clinica/' + ${paziente.id}">Annulla</a>
            <input type="submit" class="btn badge-info float-right" value="Salva">
        </form>
    </div>
</div>



</body>
</html>