<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title th:text="'Nuova prescrizione ' + ${paziente.cognome} + ' ' + ${paziente.nome}"></title>

    <style>
        .form-row{
            margin-bottom: 10px;
        }
    </style>

</head>
<body>

<div th:insert="/fragments/navbar :: navbar"/>

<div class="container-fluid" style="margin-bottom: 30px">
    <form th:action="'/salva-prescrizione/' + ${paziente.id}" method="POST" >
        <div class="card mb-4 box-shadow"  style="margin-top: 30px">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal" th:text="'Nuova prescrizione per ' + ${paziente.cognome} + ' ' + ${paziente.nome}"/>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col">
                        <label for="farmaco">Seleziona farmaco</label>
                        <select class="form-control" id="farmaco" name="farmaco" required>
                            <option th:each="farmaco : ${farmaci}" th:value="${farmaco.id}" th:text="${farmaco.getNomeCommerciale()} + ' (' + ${farmaco.principioAttivo} + ')'"></option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="dosaggio">Dosaggio</label>
                        <input type="text" class="form-control" id="dosaggio" name="dosaggio" placeholder="Es: 50mg" required>
                    </div>
                </div>
                <input type="submit" class="btn btn-info float-right" value="Inserisci">
            </div>
        </div>
    </form>
</div>

</body>
</html>