<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title th:text="'Visita del ' + ${#dates.format(visita.dataVisita, 'dd/MM/yyyy')}"></title>

    <style>
        .form-row{
            margin-bottom: 10px;
        }
    </style>

</head>
<body>

<div th:insert="/fragments/navbar :: navbar"/>

<div class="container-fluid" style="margin-bottom: 30px">
    <div class="col">
        <div class="card mb-4 box-shadow"  style="margin-top: 30px">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Informazioni visita</h4>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"  th:text="'Data della visita: ' + ${#dates.format(visita.dataVisita, 'dd/MM/yyyy')}"/>
                    <li class="list-group-item"  th:text="'Medico della visita: Dr. ' + ${visita.medico.cognome} + ' ' + ${visita.medico.nome}"/>
                    <li class="list-group-item"  th:text="'Paziente: ' + ${visita.paziente.cognome} + ' ' + ${visita.paziente.nome}"/>
                </ul>
            </div>
        </div>
        <div class="card mb-4 box-shadow"  style="margin-top: 30px">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Osservazioni</h4>
            </div>
            <div class="card-body">
                <form th:action="'/salva-osservazioni/' + ${visita.idVisita}" method="post">
                    <textarea class="form-control" id="osservazioni" name="osservazioni" th:text="${visita.osservazioni}" placeholder="inserisci un'osservazione" style="margin-bottom: 10px"></textarea>
                    <input type="submit" value="Salva osservazioni" class="btn btn-success float-right">
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>